name: Release to PyPi

on:
  release:
    types: [released]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Check if release is a pre-release
        id: prerelease-check
        run: |
          if [[ "${{ github.event.release.prerelease }}" == "true" ]]; then
            echo "This is a pre-release. Exiting."
            exit 1
          fi

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: '.python-version'

      - name: Install uv
        uses: astral-sh/setup-uv@v4

      - name: Extract version from pyproject.toml
        id: extract_version
        run: |
          PACKAGE_VERSION=$(python -c "import tomllib; print(tomllib.load(open('pyproject.toml', 'rb'))['project']['version'])")
          echo "PACKAGE_VERSION=$PACKAGE_VERSION" >> $GITHUB_ENV

      - name: Extract tag name
        id: extract_tag
        run: |
          echo "TAG_NAME=${GITHUB_REF_NAME#'v'}" >> $GITHUB_ENV

      - name: Compare tag with version
        run: |
          if [ "$TAG_NAME" == "$PACKAGE_VERSION" ]; then
            echo "Tag matches the pyproject.toml version."
          else
            echo "Tag does not match the pyproject.toml version."
            exit 1
          fi

      - name: Build package
        run: uv build

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
